[flake8]
max-line-length = 120
exclude =
    env,
    venv,
    .venv,
    __pycache__,
    migrations,
    static,
    media,
    manage.py,
    settings.py
ignore =
    E203,
    W503
